main.container role="main-inner-wrapper"
  .row
    .thumbnails-pan.logos
      section.col-xs-12.col-sm-6.col-md-6.col-lg-6
        = image_tag 'knauf-logo.png', class: 'img-responsive img-center logo'
      section.col-xs-12.col-sm-6.col-md-6.col-lg-6
        = image_tag 'rigips-logo.png', class: 'img-responsive img-center logo'

footer role="footer"
  h1
    = link_to root_path, title: 'VIZ Interijeri'
      = image_tag 'logo.png', title: 'VIZ Interijeri', alt: 'VIZ Interijeri d.o.o.', class: 'img-center'

  nav role="footer-nav"
    ul
      li class=nav_link_class(root_path) = link_to 'O nama', root_path, title: 'O nama'
      li class=nav_link_class(gallery_path) = link_to 'Galerija', gallery_path, title: 'Galerija'
      li class=nav_link_class(contact_path) = link_to 'Kontakt', contact_path, title: 'Kontakt'

  ul role="social-icons"
    li
      a href="#"
        i.fa.fa-twitter aria-hidden="true"
    li
      a href="#"
        i.fa.fa-facebook aria-hidden="true"
    li
      a href="#"
        i.fa.fa-linkedin aria-hidden="true"
    li
      a href="#"
        i.fa.fa-flickr aria-hidden="true"
  p.copy-right &copy; 2018  VIZ Interijeri d.o.o.
