header role='header'
  .container
    h1
      = link_to root_path, title: 'VIZ Interijeri d.o.o.'
        = image_tag 'logo.png', title: 'VIZ Interijeri d.o.o.', alt: 'VIZ Interijeri d.o.o.'

    nav.navy role='header-nav'
      ul
        li class=nav_link_class(root_path) = link_to 'O nama', root_path, title: 'O nama'
        li class=nav_link_class(gallery_path) = link_to 'Galerija', gallery_path, title: 'Galerija'
        li class=nav_link_class(contact_path) = link_to 'Kontakt', contact_path, title: 'Kontakt'
