@import "bootstrap-sprockets";
@import "bootstrap";

@import "theme";
@import "responsive";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "effects/set2";
@import "effects/normalize";
@import "effects/component";

.img-center {
  margin: auto;
}

main[role="main-inner-wrapper"] .thumbnails-pan {
  padding-top: 60px;

  &.logos {
    padding-top: 190px;
  }

  img.logo {
    max-height: 130px;
  }
}
