<main role="main-inner-wrapper" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <article role="pge-title-content" class="contact-header">
                <header>
                    <h2>
                        <span>Imate pitanja?</span>
                        Slobodno nas kontaktirajte!
                    </h2>
                </header>
                <p>
                    <a href="tel:+385912095545"><i class="fa fa-phone" aria-hidden="true"></i> +385 91 209 55 45</a>
                    <a href="mailto:vizinterijeridoo@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> vizinterijeridoo@gmail.com</a></p>
            </article>
        </div>

        <div class="clearfix"></div>
    </div>
</main>
