<main role="main-inner-wrapper" class="container">
    <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content">
                <header>
                    <h2><span>Što radimo?</span><!-- ADD MISSING CONTENT --></h2>
                </header>

                <p><!-- ADD MISSING CONTENT --></p>
            </article>
        </section>

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <article class="about-content">
                <p>
                    Firma <i>VIZ INTERIJERI d.o.o.</i> osnovana je 2011. godine.
                    <br><br>
                    Primarna djelatnost firme su sistemi suhe gradnje što podrazumijeva izradu pregradnih zidova, spuštenih stropova te postavljanje zidnih obloga.
                </p>
            </article>
        </section>

        <div class="clearfix"></div>

        <div class="thumbnails-pan">
            <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <figure>
                    <%= image_tag 'about-images/image-1.jpg', class: 'img-responsive' %>

                    <figcaption>
                        <h3>SPUŠTENI STROPOVI</h3>
                    </figcaption>
                </figure>
            </section>

            <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <figure>
                    <%= image_tag 'about-images/image-2.jpg', class: 'img-responsive' %>

                    <figcaption>
                        <h3>PREGRADNI ZIDOVI</h3>
                    </figcaption>
                </figure>
            </section>

            <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <figure>
                    <%= image_tag 'about-images/image-3.jpg', class: 'img-responsive' %>

                    <figcaption>
                        <h3>ADAPTACIJA PROSTORA</h3>
                    </figcaption>
                </figure>
            </section>
        </div>

        <div class="clearfix"></div>
    </div>
</main>
