<!-- main -->
<main role="main-home-wrapper" class="container">
    <div class="row">
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
          <article role="pge-title-content">
              <header>
                  <h2><span>VIZ</span> interijeri d.o.o.</h2>
                </header>
                <p>...pregradnih zidovi, spuštenih stropovi te postavljanje zidnih obloga</p>
            </article>
        </section>

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
              <%= image_tag 'home-images/image-6.jpg', class: 'img-responsive' %>
                <figcaption>
                    <h2>Eliana Dedda<span> Identity</span></h2>
                    <p>Personal Brand Identity.</p>
                    <a href="works-details.html">View more</a>
                </figcaption>
            </figure>
        </section>

        <div class="clearfix"></div>

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <figure class="effect-oscar">
                        <%= image_tag 'home-images/image-8.jpg', class: 'img-responsive' %>
                        <figcaption>
                            <h2>A Brand <span>new Agency</span></h2>
                            <p>Over 40,000 customers use our themes to power their</p>
                            <a href="works-details.html">View more</a>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="effect-oscar">
                        <%= image_tag 'home-images/image-7.jpg', class: 'img-responsive' %>

                        <figcaption>
                            <h2>Studio Thonik <span>Exhibition</span></h2>
                            <p>Project for Thonik, design studio based in Amsterdam</p>
                            <a href="works-details.html">View more</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <figure class="effect-oscar">
                        <%= image_tag 'home-images/image-10.jpg', class: 'img-responsive' %>
                        <figcaption>
                            <h2>A Brand <span>new Agency</span></h2>
                            <p>Over 40,000 customers use our themes to power their</p>
                            <a href="works-details.html">View more</a>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="effect-oscar">
                        <%= image_tag 'home-images/image-9.jpg', class: 'img-responsive' %>
                        <figcaption>
                            <h2>Anatome Milano <span>Galleria</span></h2>
                            <p>Galerie Anatome based in Paris</p>
                            <a href="works-details.html">View more</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>

        <div class="clearfix"></div>
    </div>
</main>
<!-- main -->
